<mat-card>
    <mat-card-header>
        <h4>Pesquisa de Locação</h4>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="row">
            <mat-form-field fxFlex>
                <input matInput placeholder="Pesquisar" formControlName="pesquisar">
            </mat-form-field>
            <button mat-button (click)="pesquisar()">Pesquisar</button>
            <button mat-button (click)="novo()">Novo</button>
        </form>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="dataCadastro">
                <th mat-header-cell *matHeaderCellDef>Data de Cadastro </th>
                <td mat-cell *matCellDef="let element"> {{element.dataCadastro |date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dataLocacao">
                <th mat-header-cell *matHeaderCellDef>Data de Locação </th>
                <td mat-cell *matCellDef="let element"> {{element.dataLocacao |date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dataDevolucao">
                <th mat-header-cell *matHeaderCellDef>Data de Devolução </th>
                <td mat-cell *matCellDef="let element"> {{element.dataDevolucao |date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="recurso">
                <th mat-header-cell *matHeaderCellDef>Recurso </th>
                <td mat-cell *matCellDef="let element"> {{element?.recurso?.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element?.usuario?.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef>Situação </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.situacao}}
                    <!-- <div [ngSwitch]="element.situacao">
                        <div [ngSwitchCase]="1">Disponível</div>
                        <div [ngSwitchCase]="2">Reservado</div>
                        <div [ngSwitchCase]="3">Locado</div>
                        <div [ngSwitchCase]="4">Devolvido</div>
                    </div> -->
                </td>
            </ng-container>
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element"> 
                    <div fxLayout="row" fxLayoutGap="16px">
                        <button mat-button (click)="alterar(element)">Alterar</button>
                        <button mat-button (click)="excluir(element)">Excluir</button>
                    </div>    
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>