<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Locação</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="column">
            <mat-form-field>
                <input matInput readonly placeholder="Código" formControlName="id">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Recurso</mat-label>
                <mat-select formControlName="recurso" [compareWith]="compareRecurso">
                  <mat-option *ngFor="let rec of recursos" [value]="rec">
                    {{ rec.nome}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Usuário</mat-label>
                <mat-select formControlName="usuario" [compareWith]="compareUsuario">
                  <mat-option *ngFor="let user of usuarios" [value]="user">
                    {{user.nome}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Situação</mat-label>
                <mat-select formControlName="situacao">
                  <mat-option value="1">Disponivel</mat-option>
                  <mat-option value="2">Reservado</mat-option>
                  <mat-option value="3">Alocado</mat-option>
                  <mat-option value="4">Devolvido</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Data Cadastro</mat-label>
                <input matInput [matDatepicker]="pickerCadastro" formControlName="dataCadastro">
                <mat-datepicker-toggle matSuffix [for]="pickerCadastro"></mat-datepicker-toggle>
                <mat-datepicker #pickerCadastro></mat-datepicker>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Data Locação</mat-label>
                <input matInput [matDatepicker]="pickerLocacao" formControlName="dataLocacao">
                <mat-datepicker-toggle matSuffix [for]="pickerLocacao"></mat-datepicker-toggle>
                <mat-datepicker #pickerLocacao></mat-datepicker>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Data Devolução</mat-label>
                <input matInput [matDatepicker]="pickerDevolucao" formControlName="dataDevolucao">
                <mat-datepicker-toggle matSuffix [for]="pickerDevolucao"></mat-datepicker-toggle>
                <mat-datepicker #pickerDevolucao></mat-datepicker>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="salvar()">Salvar</button>
    </mat-card-actions>
</mat-card>
